.HeaderProf {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../assets/BG6.jpg');
  background-size: cover;
  background-position: 50% 10%;
  background-repeat: no-repeat;
}
.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.Opt1 {
  width: 605px; /* Adjust width */
  height: auto; /* Keep aspect ratio */
  padding: 30px;
}
.aboutTitle {
  text-align: center;
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 35px;
}
.ProfLogo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid black;
  object-fit: cover;
}
.editProfImg {
  display: block;
  margin: 0 auto;
  font-size: 14px;
}
.aboutContent {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infofields button{
  background-color: #007bff;
  color: white;
}
.infofields button:hover{
  background-color: #0056b3;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 0 5px rgb(0, 91, 179, 0.5);
}
.btnEdit {
  margin-top: 0.5rem;
}
.profileBlock {
  margin: 0 auto;    /* Horizontally center it */
}
.btnAboutSave{
  background-color: #007bff;
  color: white;
  margin-top: 30px;
}
.btnAboutSave:hover{
  background-color: #0056b3;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 0 5px rgb(0, 91, 179, 0.5);
}
/*Font*/
.aboutTitle{
  font-family: 'Poppins';
}
.form-control rounded-pill mb-3, .mb-0, .fw-bold, .footer-content, .btnAboutSave{
  font-family: 'Open Sans';
}
/* Footer Styling */
footer {
  background-color: #333;
  color: white;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-left {
  display: flex;
  gap: 20px; /* spacing between Contact Us and About Us */
}
.footer-left p, .footer-right p {
  margin: 0;
  font-size: 14px;
}
@media (max-width: 768px) {
  .aboutContent .d-flex {
    flex-direction: column !important;
    align-items: center !important;
  }
}